<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Login</title>

    <style>
        body {
            font-family: sans-serif;
            margin: 3rem;
        }

        input, button {
            font-size: 1rem;
            padding: 0.5rem;
        }
    </style>
</head>
<body>

<h1>OpenFaktura</h1>

<form method="post">
    <p>
        Passord<br>
        <input type="password" name="password" autofocus required>
    </p>

    <button>Logg inn</button>
</form>

</body>
</html>
